@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/Telegraf-Bold.woff2') format('woff2'),
        url('../assets/fonts/Telegraf-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/Telegraf-Regular.woff2') format('woff2'),
        url('../assets/fonts/Telegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pixel';
    src: url(../assets/fonts/pixelfj8pt1.normal.otf);
}


* {
    font-family: Telegraf;
    color: white;

    margin: 0;
}

body {
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 100vw;

    text-align: center;

    padding-top: 2.2rem;
    padding-bottom: 1.2rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 3rem;

    max-width: 500px;
}

.upload-wrapper {
    width: 80%;
    max-width: 305px;

    background-color: transparent;
    outline: none;
    border: none;
}

.upload-wrapper img {
    width: 100%;
    object-fit: contain;
}

.upload-wrapper p {
    color: yellow;
    padding-top: .2rem;
    font-family: pixel;

    font-smooth: never;
    -webkit-font-smoothing: none;
}

#image {
    position: absolute;
    top: -500px;
    left: -500px;
}

.btn-submit {
    margin-top: 2rem;
    background-color: yellow;
    border: none;
    outline: none;
    color: black;
    font-family: pixel, sans-serif;
    font-weight: 600;
    
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .6rem;
    padding-bottom: .6rem;

    visibility: hidden;
}

.btn-submit:hover {
    background-color: white;
    color: black;
}

h2 {
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 100;
}

.success {
    background-color: rgb(123, 250, 98);
    width: 100vw;
    color: black;
    text-align: center;
}

.error {
    background-color: rgb(255, 94, 94);
    width: 100vw;
    color: black;
    text-align: center;
}

.poll-btn {
    position: absolute;
    bottom: 30px;
    left: auto;
    right: auto;
    text-decoration: none;
    color: black;
    background-color: #FFEB40;

    width: 300px;
    font-family: pixel;
    cursor: pointer;
    font-size: 1.4rem;

    padding-top: .7rem;
    padding-bottom: .7rem;
    text-align: center;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100px;

    background-color: #1F1F1F;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pollWrapper, .imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 50%;
}

.pollNav {
    background-image: url("./../assets/pollNav.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 33px;
    height: 33px;
}

.imgNav {
    background-image: url("./../assets/imgNav.png");
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
}

.textNav {
    text-decoration: none;
    font-weight: 500;
}

.disabled-nav {
    opacity: .6;
}