.blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1200px;
    padding: 0 3rem;
    margin: 10rem auto;

    div{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3rem;
    }

    h2{
        font-size: 2rem;
    }
}

.dresscode{
    background-color: $bgOffGrey;

    a{
        text-decoration: none;
        color: $primaryYellow;
        text-transform: uppercase;

        &:hover{
            color: $primaryBlue;
        }
    }
}

.convinced{
    background-color: $primaryBlue;
}

@media (max-width: 800px) and (min-width: 640px) { 
    .blocks{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .blocks{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        div{      
            padding: 2rem;
        }
    }
}