footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1600px;
    margin: -2rem auto 10rem auto;
    justify-items: center;
    align-items: center;
    gap: 3rem;

    img{
        max-width: 6rem;
    }

    .dinoshow{
        max-width: 16rem;
        width: 16rem;
    }
}

@media (max-width: 800px) and (min-width: 640px) { 
    footer{
        margin: -2rem 12vw 10rem 12vw;
    
        img{
            max-width: 6rem;
        }
    
        .dinoshow{
            max-width: 12rem;
            width: 12rem;
        }
    }
}

@media (max-width: 640px) {
    footer{
    
        img{
            max-width: 4rem;
        }
    
        .dinoshow{
            max-width: 8rem;
            width: 8rem;
        }
    }
}

@media (max-width: 600px) {
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: -5rem 15vw 5rem 15vw;
    
        img{
            max-width: 4rem;
        }
    
        .dinoshow{
            max-width: 8rem;
            width: 8rem;
        }
    }
}