.program{
    display: block;
    padding: 10vh 3rem;
    max-width: 1200px;
    margin: 0 auto;
    
    h2{
        text-align: center;
        font-size: 2rem;
    }

    p{
        text-align: center;
        line-height: 1.5rem;
    }
}

.program-info{
    display: block;
    margin: 1rem auto;
    max-width: 700px;
}

.schedule{
    margin: 2rem 0;
}

.schedule_item{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr;
    grid-template-rows: 3.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
    border-top: 1px solid $txtColor;
    border-bottom: 1px solid $txtColor;
    transition: all 0.3s;

    p{
        text-align: left;
    }
}

.schedule_item_1{    
    border-top: 2px solid $txtColor;

    &:hover{
        background-color: $primaryBlue;

        p{
            font-weight: 700;
        }

        .time{
            font-weight: 500;
        }
    }
}

.schedule_item_2{
    &:hover{
        background-color: $primaryGreen;
        color: $bgColor;

        p{
            font-weight: 700;
        }

        .time{
            font-weight: 500;
        }
    }
}

.schedule_item_3{
    &:hover{
        background-color: $primaryYellow;
        color: $bgColor;

        p{
            font-weight: 700;
        }

        .time{
            font-weight: 500;
        }
    }
}

.schedule_item_4{    
    border-bottom: 2px solid $txtColor;

    &:hover{
        background-color: $primaryRed;

        p{
            font-weight: 700;
        }

        .time{
            font-weight: 500;
        }
    }
}

@media (max-width: 800px) and (min-width: 640px) { 
    .schedule_item{
        padding: 1rem 3rem;
    }
}

@media (max-width: 640px) {
    .schedule_item{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 3.5rem 3.5rem;
        padding: 1rem;
        justify-content: flex-start;
        gap: 0.5rem;

        .extra{
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}