/*Font initialising*/
@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/Telegraf-Bold.woff2') format('woff2'),
        url('../assets/fonts/Telegraf-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../assets/fonts/Telegraf-Regular.woff2') format('woff2'),
        url('../assets/fonts/Telegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pixel';
    src: url(../assets/fonts/pixelfj8pt1.normal.otf);
}

/* General variables */
$bgColor: #000000;
$bgOffGrey: #191919;
$bgTextGrey: #262626;
$txtColor: #FFFFFF;
$txtColorDark: #000000;
$primaryBlue: #2489E7;
$primaryYellow: #FFEB40;
$primaryGreen: #50C78D;
$primaryRed: #E8422C;

$primaryFont: Telegraf;
$primaryFontBold: telegraf-bold;
$secondaryFont: pixel;

$mxBodyDesktop: 5rem;
$mxBodyMobile: 1rem;

body{
    background-color: $bgColor;
    color: $txtColor;
    font-family: $primaryFont;
}

.bold {
    font-family: $primaryFontBold;
}

.pixel {
    font-family: $secondaryFont;
}

h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: -0.1rem;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: -0.1rem;
}

p {
    font-size: 1rem;
}

span{
    font-family: $primaryFont;
    font-size: 2.3rem;
    margin-right: 0.1rem;
}

.hidden{
    display: none;
}

.button {
    background-color: $primaryYellow !important;
    font-family: $secondaryFont;
    width: 100px;
    height: 40px !important;
    cursor: pointer;
    border: none;
}