/*Font initialising*/
@font-face {
  font-family: 'Telegraf';
  src: url("../assets/fonts/Telegraf-Bold.woff2") format("woff2"), url("../assets/fonts/Telegraf-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url("../assets/fonts/Telegraf-Regular.woff2") format("woff2"), url("../assets/fonts/Telegraf-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pixel';
  src: url(../assets/fonts/pixelfj8pt1.normal.otf);
}

/* General variables */
body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Telegraf;
}

.bold {
  font-family: telegraf-bold;
}

.pixel {
  font-family: pixel;
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: -0.1rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: -0.1rem;
}

p {
  font-size: 1rem;
}

span {
  font-family: Telegraf;
  font-size: 2.3rem;
  margin-right: 0.1rem;
}

.hidden {
  display: none;
}

.button {
  background-color: #FFEB40 !important;
  font-family: pixel;
  width: 100px;
  padding: 0.5rem 0.3rem;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (9%)[11];
      grid-template-columns: repeat(11, 9%);
  -ms-grid-rows: (2.8rem)[11];
      grid-template-rows: repeat(11, 2.8rem);
  margin: 3rem 3rem 0 3rem;
  padding: 3rem 3rem 0 3rem;
  max-height: 100%;
}

.logo {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 10;
}

.header_text {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  z-index: 20;
}

.fien {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.fien img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fien_2 {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}

.fien_3 {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

.bastien {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 12;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.bastien img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bastien_2 {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
}

.bastien_3 {
  position: absolute;
  bottom: -2rem;
  left: -2rem;
}

.sarah {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 5;
}

.sarah img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sarah_2 {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}

.sarah_3 {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

.brian {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 7;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.brian img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brian_2 {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}

.brian_3 {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

.nicolas {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 9;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.nicolas img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nicolas_2 {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
}

.nicolas_3 {
  position: absolute;
  bottom: -2rem;
  left: -2rem;
}

.bailey {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 10;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.bailey img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bailey_2 {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
}

.bailey_3 {
  position: absolute;
  bottom: -2rem;
  left: -2rem;
}

.stefan {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 9;
      grid-row-start: 9;
  grid-row-end: 11;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.stefan img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stefan_2 {
  position: absolute;
  bottom: 1rem;
  right: -1rem;
}

.stefan_3 {
  position: absolute;
  bottom: 2rem;
  right: -2rem;
}

.nick {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 10;
      grid-row-start: 10;
  grid-row-end: 12;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.nick img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nick_2 {
  position: absolute;
  bottom: 1rem;
  right: -1rem;
}

.nick_3 {
  position: absolute;
  bottom: 2rem;
  right: -2rem;
}

.stephanie {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 9;
  -ms-grid-row: 11;
      grid-row-start: 11;
  grid-row-end: 12;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.stephanie img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stephanie_2 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.stephanie_3 {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.ilya {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 11;
  -ms-grid-row: 10;
      grid-row-start: 10;
  grid-row-end: 11;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.ilya img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ilya_2 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.ilya_3 {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.nathalie {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 12;
  -ms-grid-row: 9;
      grid-row-start: 9;
  grid-row-end: 10;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.nathalie img {
  width: 10vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nathalie_2 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.nathalie_3 {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFEB40;
  text-transform: uppercase;
  margin-bottom: 8rem;
  -webkit-animation: updown 2s ease-in-out 0s infinite alternate;
          animation: updown 2s ease-in-out 0s infinite alternate;
}

.cta span {
  font-size: 0.6rem;
  color: #FFFFFF;
  margin: 0 0.5rem;
}

@-webkit-keyframes updown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes updown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.sign_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign_up h2 {
  margin-bottom: 15px;
}

.sign_up p {
  margin: 2px 0;
}

.sign_up form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  position: relative;
}

.sign_up form input {
  height: 50px;
  margin: 15px 0;
  background-color: #191919;
  border: 2px solid #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
}

.sign_up form .agree {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.sign_up form .agree .checkbox_replace {
  width: 30px;
  height: 30px;
  margin: 0;
  border: 2px solid #FFFFFF;
}

.sign_up form .agree .checkbox_replace .checkbox {
  visibility: hidden;
  position: absolute;
  top: -100000px;
  left: -1000000px;
}

.sign_up form .agree p {
  width: 80%;
}

.sign_up form .raawrcaptcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 75px;
  background-color: #191919;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.sign_up form .raawrcaptcha .checkbox_replace {
  width: 30px;
  height: 30px;
  margin: 0;
  border: 2px solid #FFFFFF;
}

.sign_up form .raawrcaptcha .checkbox_replace .checkbox {
  visibility: hidden;
  position: absolute;
  top: -100000px;
  left: -1000000px;
}

.sign_up form .raawrcaptcha .raawrcaptcha_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.sign_up form .raawrcaptcha .raawrcaptcha_icon img {
  height: 70%;
}

.sign_up form .raawrcaptcha .raawrcaptcha_icon p {
  font-size: 10px;
  margin: 0;
}

.sign_up form .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sign_up form .select_dinos {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 308px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000000;
}

.sign_up form .select_dinos .description {
  height: 50px;
  background-color: #50C78D;
  font-size: 20px;
}

.sign_up form .select_dinos .dinos {
  width: 100%;
}

.sign_up form .select_dinos .dinos img {
  width: 100px;
  margin: 0;
}

.program {
  display: block;
  margin: 6rem 3rem;
}

.program h2 {
  text-align: center;
  font-size: 2rem;
}

.program p {
  text-align: center;
  line-height: 1.5rem;
}

.schedule {
  margin: 2rem 0;
}

.schedule_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 3.5rem;
      grid-template-rows: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 0 3rem;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.schedule_item p {
  text-align: left;
}

.schedule_item_1 {
  border-top: 2px solid #FFFFFF;
}

.schedule_item_1:hover {
  background-color: #2489E7;
}

.schedule_item_1:hover p {
  font-weight: 700;
}

.schedule_item_1:hover .time {
  font-weight: 500;
}

.schedule_item_2:hover {
  background-color: #50C78D;
  color: #000000;
}

.schedule_item_2:hover p {
  font-weight: 700;
}

.schedule_item_2:hover .time {
  font-weight: 500;
}

.schedule_item_3:hover {
  background-color: #FFEB40;
  color: #000000;
}

.schedule_item_3:hover p {
  font-weight: 700;
}

.schedule_item_3:hover .time {
  font-weight: 500;
}

.schedule_item_4 {
  border-bottom: 2px solid #FFFFFF;
}

.schedule_item_4:hover {
  background-color: #E8422C;
}

.schedule_item_4:hover p {
  font-weight: 700;
}

.schedule_item_4:hover .time {
  font-weight: 500;
}

@media (max-width: 800px) and (min-width: 640px) {
  .schedule_item {
    padding: 1rem 3rem;
  }
}

@media (max-width: 640px) {
  .schedule_item {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 3.5rem 3.5rem;
        grid-template-rows: 3.5rem 3.5rem;
    padding: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0.5rem;
  }
  .schedule_item .extra {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

.blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 10rem 3rem;
}

.blocks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem;
}

.blocks h2 {
  font-size: 2rem;
}

.dresscode {
  background-color: #191919;
}

.dresscode a {
  text-decoration: none;
  color: #FFEB40;
  text-transform: uppercase;
}

.convinced {
  background-color: #2489E7;
}

.convinced .button {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 800px) and (min-width: 640px) {
  .blocks {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .blocks {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .blocks div {
    padding: 2rem;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: -2rem 15vw 10rem 15vw;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

footer img {
  max-width: 6rem;
}

footer .dinoshow {
  max-width: 16rem;
  width: 16rem;
}

@media (max-width: 800px) and (min-width: 640px) {
  footer {
    margin: -2rem 12vw 10rem 12vw;
  }
  footer img {
    max-width: 6rem;
  }
  footer .dinoshow {
    max-width: 12rem;
    width: 12rem;
  }
}

@media (max-width: 640px) {
  footer {
    margin: -2rem 0 10rem 0;
  }
  footer img {
    max-width: 4rem;
  }
  footer .dinoshow {
    max-width: 8rem;
    width: 8rem;
  }
}
/*# sourceMappingURL=styles.css.map */