@font-face {
    font-family: 'pixel';
    src: url(../assets/fonts/pixelfj8pt1.normal.otf);
}

.photo-btn {
    position: absolute;
    bottom: 30px;
    left: auto;
    right: auto;
    text-decoration: none;
    color: black;
    background-color: #2489E7;

    width: 300px;
    font-family: pixel;
    cursor: pointer;
    font-size: 1.4rem;

    padding-top: .7rem;
    padding-bottom: .7rem;
    text-align: center;
}